.authenticated_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authenticated_page div {
    margin-left: 55px;
}

.authenticated_page p {
    font-size: 40px;
    color: white;
}

.authenticated_page a {
    text-decoration: none;
    font-size: 35px;
}