body {
    margin: 0;
}

body {
    transition: background-color 1s, color 0.9s;
}

body.dark {
    background-color: #3a4a7c;
    color: #000000;
}

body.light {
    background-color: rgba(0, 0, 0, 0.91);
    color: #ffffff;
}

