.movie_info{
    display: flex;
}
.movieInfoContainer {
    display: flex;
    margin: 25px 0 0 150px;
}

.backButton {
    height: 33px;
    width: 75px;
    margin: 20px 0 0 20px;
    background-color: rgba(0, 123, 255, 0.21);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.6s;
}

.backButton:hover {
    background-color: #106ed3;
    transition: 1s;
}

.movieInfoContainer h1 {
    color: #e71c1c;
}

.movieInfoContainer img {
    height: 475px;
    border-radius: 8px;
    margin: 18px 0 40px 0;
}

.movie_info_block {
    margin: 75px 0 0 75px;
}

.movieInfoContainer p {
    color: #c7b0b0;
    font-size: 20px;
}



