.load {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load p {
    font-size: 40px;
    color: white;
}

.movie_info {
    display: flex;
}

.movieInfoContainer {
    display: flex;
    margin: 25px 0 0 150px;
}

.movieInfoContainer h1 {
    color: #e71c1c;
}

.movieInfoContainer img {
    height: 475px;
    border-radius: 8px;
    margin: 18px 0 40px 0;
}

.movie_info_block {
    margin: 75px 0 0 75px;
}

.movieInfoContainer p {
    color: #c7b0b0;
    font-size: 20px;
}



